[submodule "julia"]
	path = julia
	url = https://github.com/JuliaLang/julia
	branch = release-1.6
[submodule "JuliaZH.jl"]
	path = JuliaZH.jl
	url = https://github.com/JuliaCN/JuliaZH.jl
	branch = master
